@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
         Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Takip Kodu</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personel</td>
            <td>@k.Alici</td>
            <td>@k.TalipKodu</td>
            <td>@k.Tarih</td>
            <td><a href="/Kargo/KargoTakip/@k.TalipKodu" class="btn btn-primary">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Kargo/YeniKargo/" class="btn btn-primary">Yeni Kargo Girişi</a>



